# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/

# Data
data/raw/
data/processed/

# Logs
data/logs/
*.log

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Secrets
.env