# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Data
data/raw/
data/processed/
reports/

# Logs
data/logs/
*.log

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Build / packaging
build/
dist/
*.egg-info/
